.collapsible .content {
  border: 1px solid #afafaf;
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.collapsible .content-parent {
  height: 0px;
  overflow: hidden;
  transition: height ease 0.3s;
}
